/* Add this CSS to your main stylesheet */

.loader {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .ball {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #ffffff; /* Color of the bouncing balls */
    border-radius: 50%;
    animation: bounce 0.8s infinite alternate;
  }
  
  .ball:nth-child(1) {
    animation-delay: 0s;
  }
  
  .ball:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .ball:nth-child(3) {
    animation-delay: 0.4s;
  }
  .ball:nth-child(4) {
    animation-delay: 0.6s;
  }
  .ball:nth-child(5) {
    animation-delay: 0.8s;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50px); /* Adjust height of bounce */
    }
  }
  