/* App.css */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.scroll-section {
  opacity: 0; /* Initial state for opacity */
  transition: opacity 0.5s ease;
}

.scroll-section.slideInLeft {
  animation: slideInLeft 0.8s forwards; /* Slide in from the left */
}

.scroll-section.slideInRight {
  animation: slideInRight 0.8s forwards; /* Slide in from the right */
}

.scroll-section.fadeUp {
  animation: fadeUp 0.8s forwards; /* Fade up effect */
}
