@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scroll-behavior: smooth;

}
/* Dark Theme */
body.dark {
    background-color: #0b0d13;
    color: white;
}

/* Light Theme */
body.light {
    background-color: white;
    color: black;
}
@keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
    